body {background-color:#2a2a2a;}

h1
{
color:#60860d;
text-align:center;
font-family:Arial,Helvetica,sans-serif;
}

p
{
color:#ffffff;
font-family:Arial,Helvetica,sans-serif;
}

#headerdiv
{
position:relative;
left:50px;
top:20px;
background-color:#ffffff;
width:160
}

#userdiv
{
position:absolute;
left:250px;
top:20px;
}


#navbardiv
{
background-color:#ffffff;
}

#navbardiv a
{
margin:0px 20px 0px 20px;
}

#navlinksdiv
{
margin-left:220px;
font-family:Arial,Helvetica,sans-serif;
}

#search
{
position:absolute;
left:1000px;
top:10px;
}

a:link
{
text-decoration:none;
color:#2a2a2a;
}

a:visited
{
text-decoration:none;
color:#2a2a2a;
}

a:hover
{
text-decoration:none;
color:#60860d;
}

a:active
{
text-decoration:none;
color:#60860d;
}

#searchsubmit
{
display:none;
}

