{% extends "index/index.html" %} 

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
		{% if user.is_authenticated %}
			<li class="active"><div><a href="/account/userprofile/{{ user.id }}">Profile</a></div></li>
		{% endif %}

	</ul>
</div>
{% endblock %}

{% block content %}

<table border="0">
<tr>
	<td>Picture</td>
	<td>
		<table border="0">
		<tr>
			<td>Name: {{ user.first_name }} {{ user.last_name }}</td>
		</tr>
		<tr>
			<td>Location: {{ user.get_profile.city }}, {{ user.get_profile.state }} </td>
		</tr>
		<tr>
			<td>Gender: {{ user.get_profile.gender }} </td>
		</tr>
		<tr>
			<td>Age: {{ user.getprofile.age }} </td>
		</tr>
		<tr>
			<td>Birthday: {{ user.get_profile.birthday }}</td>
		</tr>
		<tr>
			<td>Email: {{ user.email }} </td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td><font size="+2"><b>{{ user.username }}</b></font></td>
</tr>
<tr>
	<td><font size="-1">edit profile</font></td>
</tr>
<tr>
	<td><font size="-1">upload picture</font></td>
</tr>
<tr>
	<td><font size="-1">account settings</font></td>
</tr>
</table>

{% endblock %}
