{% extends "index/index.html" %} 

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
		{% if user.is_authenticated %}
			<li class="active"><div><a href="/account/userprofile/{{ user.id }}">Profile</a></div></li>
		{% endif %}

	</ul>
</div>
{% endblock %}

{% block content %}

<table border="0">
<tr>
	<td><img src="{{MEDIA_URL}}{{ user_page.get_profile.photo }}"/></td>
	<td>
		<table border="0">
		<tr>
			<td>Name: {{ user_page.first_name }} {{ user_page.last_name }}</td>
		</tr>
		<tr>
			<td>Location: {{ user_page.get_profile.city }}, {{ user_page.get_profile.state }} </td>
		</tr>
		<tr>
			<td>Gender: {{ user_page.get_profile.gender }} </td>
		</tr>
		<tr>
			<td>Age: {{ user_page.get_profile.age }} </td>
		</tr>
		<tr>
			<td>Birthday: {{ user_page.get_profile.birthday }}</td>
		</tr>
		<tr>
			<td>Email: {{ user_page.email }} </td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td><font size="+2"><b>{{ user_page.username }}</b></font></td>
</tr>
<tr>
	<td><font size="-1"><a href="/account/editprofile/{{ user.id }}">Edit Profile</a></font></td>
</tr>
<tr>
	<td><font size="-1"><a href="/account/fileupload/{{ user.id }}">Upload Picture</a></font></td>
</tr>
<tr>
	<td><font size="-1">account settings</font></td>
</tr>
</table>

{% endblock %}
