{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}

<h1>{{ beer.name }}</h1>

<p>Rating: {{ rating }}</p>

<p>Brewery: <a href="/brewery/{{ beer.brewery }}">{{ beer.brewery.name }}</a></p>

<p>Style: <a href="/style/{{ beer.style }}">{{ beer.style.style_name }}</a></p>

<p>ABV: {{ beer.abv }}</p>

<p>IBU: {{ beer.ibu }}</p>

<p>Description: {{ beer.descript }}</p>

</br>

<p><strong> My review: </strong></p>
{% if user_review %}
	<p>{{ user_review.user }}: {{ user_review.rating }}</br>
	{{ user_review.body }}</p>
{% else %}
	<p> You haven't reviewed this beer. Review now!</p>
	<form action="/beer/{{ beer.id }}" method="post">
	{{ reviewForm.as_p }}
	<input type="submit" value="Submit" />
	</form>
{% endif %}

</br>

<p><strong>Reviews:</strong></p>
{% for review in reviews %}
	<p>{{ review.user }}: {{ review.rating }}<br/>
	 {{ review.body }} </p>
{% endfor %}

{% endblock %}


