{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
		{% if user.is_authenticated %}
			<li><div><a href="/account/userprofile/{{ user.id }}">Profile</a></div></li>
		{% endif %}
	</ul>
</div>
{% endblock %}

{% block content %}

<h1>{{ brewery.name }}</h1>

<p>Address: {{ brewery.address1 }}</p>

<p>City: {{ brewery.city }}</p>

<p>State: {{ brewery.state }}</p>

<p>Code: {{ brewery.code }}</p>

<p>Country: {{ brewery.country }}</p>

<p>Phone: {{ brewery.phone }}</p>

<p>Website: <a href="brewery.website">{{ brewery.website }}</a></p>

<p>Description: {{ brewery.descript }}</p>

</br>

<p><strong>List of Beers:</strong></p>

{% for beer in list_of_beers %}
	<li><a href="/beer/{{ beer.id }}">{{beer.name}}</a></li>
{% endfor %}

{% endblock %}
