{% extends "index/index.html" %}


{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}
	<p>
	<a href="/browse/styles">STYLE</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/browse/location">STATE</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/browse/breweries">BREWERY</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	ALL&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	</p>
	<p>Beer Name:</p>
	<p>Brewery:</p>
	<p>Rating:</p>
	<p>ABV:</p>
	<p>IBU:</p>
	{% for beer in list_of_beers %}
		<div>
			<div style="display:inline-block"><a href="/beer/{{ beer.id }}">{{ beer.name }}</a></div>
			<div style="display:inline-block"><a href="/brewery/{{ beer.brewery_id }}">{{ beer.brewery.name }}y</a></div>
			<div style="display:inline-block"><p>A Rating</p></div>
			<div style="display:inline-block"><p>{{ beer.abv }}</p></div>
			<div style="display:inline-block"><p>{{ beer.ibu }}</p></div>
		</div>
	{% endfor %}
	
{% endblock %}

