{% extends "index/index.html" %}


{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}
	<p>
	<div style="display:inline-block"><a href="/browse/styles">STYLE</a>&nbsp&nbsp</div>
	<div style="display:inline-block"><a href="/browse/location">STATE</a>&nbsp&nbsp</div>
	<div style="display:inline-block"><a href="/browse/breweries">BREWERY</a>&nbsp&nbsp</div>
	<div style="display:inline-block">ALL&nbsp&nbsp</div>
	</p>
	<p>
	<div style="display:inline-block">Beer Name:</div>
	<div style="display:inline-block">Brewery:</div>
	<div style="display:inline-block">Rating:</div>
	<div style="display:inline-block">ABV:</div>
	<div style="display:inline-block">IBU:</div>
	</p>
	<div style="border:1px solid black">
	{% for beer in list_of_beers %}
		<div>
			<p><div style="display:inline-block"><a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
			<a href="/brewery/{{ beer.brewery_id }}">{{ beer.brewery.name }}</a>
			A Rating
			{{ beer.abv }}
			{{ beer.ibu }}</p></div>
		</div>
	{% endfor %}
	</div>
{% endblock %}

