{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
		{% if user.is_authenticated %}
			<li><div><a href="/account">Profile</a></div></li>
		{% endif %}
	</ul>
</div>
{% endblock %}

{% block content %}
	<table BORDER="1" RULES=NONE FRAME=BOX STYLE="border-spacing: 10px 1px;"><p>
	<a href="/browse/styles">Style</a>&nbsp&nbsp
	<a href="/browse/location">Location</a>&nbsp&nbsp
	<a href="/browse/breweries">Brewery</a>&nbsp&nbsp
	<a href="/browse/beers">All</a>&nbsp&nbsp</p>
	<tr><th ALIGN=left>Beer Name</th>
	<th ALIGN=left>Brewery Name</th>
	<th ALIGN=left>Rating</th>
	<th ALIGN=left>ABV</th>
	<th ALIGN=left>IBU</th></tr>
	{% for beer in list_of_beers %}
		<tr><td><p><a href="/beer/{{ beer.id }}">{{ beer.name }}</a></p></td>
		<td><p><a href="/brewery/{{ beer.brewery.id }}">{{ beer.brewery }}</a></p></td>
		<td><p>A Rating</p></td>
		<td><p>{{ beer.abv }}</p></td>
		<td><p>{{ beer.ibu }}</p></td></tr>
	{% endfor %}
{% endblock %}
