{% extends "index/index.html" %}


{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
		{% if user.is_authenticated %}
			<li><div><a href="/account">Profile</a></div></li>
		{% endif %}
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="navtable">
	<ul id="menu">
		<li><a href="/browse/styles">Style</a></li>
		<li><a href="/browse/location">State</a></li>
		<li class="active"><a href="/browse/brewery">Brewery</a></li>
		<li><a href="/browse/beers">All</a></li>
	</ul>
</div>
	{% for brewery in list_of_breweries %}
		<div class="newatable" style="background-color: {% cycle "#ffffff" "#d5e0bb" %}"><a href="/browse/breweries/{{ brewery.id }}" style="text-decoration:none; color:#60860d">{{ brewery.name }}</a></div>
	{% endfor %}

{% endblock %}
