{% extends "index/index.html" %}


{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="navtable">
	<ul id="menu">
		<li><a href="/browse/styles">Style</a></li>
		<li><a href="/browse/location">Location</a></li>
		<li class="active"><a href="/browse/brewery">Brewery&nbsp&nbsp</a></li>
		<li><a href="/browse/beers">All</a></li>
	</ul>
</div>
	{% for brewery in list_of_breweries %}
		<p><div class="atable" style="width:500px"><a href="/browse/breweries/{{ brewery.id }}" style="text-decoration:none"><b><font color="#ffffff">{{ brewery.name }}</font></b></a></div></p>
	{% endfor %}

{% endblock %}
