{% extends "index/index.html" %}

{% block content %}
	<table border="1" cellspacing="0" cellpadding="7"><p>
	<a href="/browse/styles">STYLE</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/browse/location">LOCATION</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/browse/breweries">BREWERY</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<a href="/browse/beers">ALL</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
	<tr><th>Latest beers!</th>
	<th>Brewery Name:</th>
	<th>Rating:</th>
	<th>ABV:</th>
	<th>IBU:</th></tr>
	{% for beer in list_of_latest_beers %}
    		<tr><td><p><a href="/beer/{{ beer.id }}">{{ beer.name }}</a></p></td>
		<td><p><a href="/brewery/{{ brewery.id }}">{{ brewery.name }}</a></p></td>
		<td><p>A Rating</p></td>
		<td><p>{{ beer.abv }}</p></td>
		<td><p>{{ beer.ibu }}</p></td></tr>
	{% endfor %}
{% endblock %}

