{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="navtable">
	<ul id="menu">
		<li><div><a href="/browse/styles">Style</a></div></li>
		<li><div><a href="/browse/location">Location</a></div></li>
		<li><div><a href="/browse/breweries">Brewery</a></div></li>
		<li><div><a href="/browse/beers">All</a></div></li>

			<li><div><a href="/account/userprofile">Profile</a></div></li>

	</ul>
</div>
	<p><div class="atable">
		Latest beers!
		Brewery Name
		Rating
		ABV
		IBU
	</div></p>
		{% for beer in list_of_latest_beers %}
    			<p><div class="atable"><a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
			<a href="/brewery/{{ beer.brewery.id }}">{{ beer.brewery }}</a>
			A Rating
			{{ beer.abv }}
			{{ beer.ibu }}</div></p>
		{% endfor %}
{% endblock %}

