{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}
	<table BORDER="1" RULES=NONE FRAME=BOX STYLE="border-spacing: 10px 1px;"><p>
	<a href="/browse/styles">Style</a>&nbsp&nbsp
	Location&nbsp&nbsp
	<a href="/browse/breweries">Brewery</a>&nbsp&nbsp
	<a href="/browse/beers">All</a>&nbsp&nbsp</p>
	<tr><th ALIGN=left>Choose A Location:</th></tr>
	<td>
	{% for brewery in list_of_locations %}
		<p><a href="/browse/location/{{ brewery.state }}">{{ brewery }}</p>
	{% endfor %}
	</td>
	</tr>
{% endblock %}
