{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li class="active"><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}
<div class="navtable">
	<ul id="menu">
		<li class="active"><a href="/browse/styles">Style</a></li>
		<li><a href="/browse/location">Location</a></li>
		<li><a href="/browse/breweries">Brewery</a></li>
		<li><a href="/browse/beers">All</a></li>
	</ul>
</div>
	{% for style in list_of_styles %}
		<div class="newatable" style="background-color:{% cycle "#ffffff" "#d5e0bb" %}" id="selector"><a href="/browse/styles/{{ style.id }}" style="text-decoration:none; color:#60860d">{{ style.style_name }}</a>
</div>
	{% endfor %}

{% endblock %}
