{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li><div><a href="/browse">Find Beer</a></div></li>
		<li class="active"><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
		{% if user.is_authenticated %}
			<li><div><a href="/account/userprofile/{{ user.id }}">Profile</a></div></li>
		{% endif %}
	</ul>
</div>
{% endblock %}

{% block content %}

<h1>Learn about glassware<h>

{% endblock %}
