{% extends "index/index.html" %} 

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li class="active"><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}

<h1>New Account </h1>


<form action="/signup/" method="post">{% csrf_token %}
	<pre>	
	User name: <input type="text" name="username" maxlength="30"/> 
	
	   E-mail: <input type="text" name="email"/> 
	 
	 Password: <input type="password" name="password"/>
	
       Confirm PW: <input type="password" name="confirm" />

	   Gender: <input type="radio" name="gender" value="male"/> Male <input type="radio" name="gender" value="female"/> Female       

     
	<input type="submit" value="Create" /> 
	</pre>
</form>


{% endblock %}