{% extends "index/index.html" %}

{% block nav %}
<div class="nav">
	<ul id="menu">
		<li><div><a href="/">Home</a></div></li>
		<li><div><a href="/browse">Find Beer</a></div></li>
		<li><div><a href="/learn">Know Beer</a></div></li>
		<li><div><a href="/aboutus">The Revolution</a></div></li>
		<li><div><a href="/">The Revolution</a></div></li>
		<li><div><a href="/contribute">Merch</a></div></li>
	</ul>
</div>
{% endblock %}

{% block content %}

<h1>New Account </h1>

<form action="/signup/" method="post">{% csrf_token %}
{{ signupForm.as_p }}
<input type="submit" value="Create" />
</form>

{% endblock %}
